<!DOCTYPE html>
<html>
    <head >
        <title>Contact US</title>
    </head>
<body>

    <h1>Contact US</h1>
    <form action="{{url_for('contact')}}" method="post">
        <label for="name">name : </label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="email">email : </label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="message">Message : </label>
        <textarea name="message" id="message" rows="5" required></textarea>
        <br>
        <input type="submit" value="send">

    </form>


</body>

</html>